h1 {
    font-weight: 700; 
    font-style: italic; 
    letter-spacing: 3px; 
    font-size: 5vw; 
}

h2, h3 {
    font-weight: 700; 
    font-style: italic; 
}

p {
    font-weight: 400; 
    font-style: normal; 
    line-height: 1.8;
    word-spacing: 6px; 
    font-size: 14px; 
}
