body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#baner {
    background-color: #cc9966;
    text-align: center;
    padding: 20px;
}

#container {
    display: flex;
    margin-top: 20px;
}

#menu {
    background-color: #32CD32;
    width: 20%; /* 1/6 szerokości */
    padding: 10px;
}

#tresc {
    background-color: #ffff33;
    width: 80%; /* 5/6 szerokości */
    padding: 10px;
}

#stopka {
    background-color: #990033;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}